@media print {
    @page {
        margin: 1cm;
    }

    #modif_services {
        display: block;
    }
}

@media print {
    body {
        background: transparent!important;
    }
}

@media screen {
    .imprimante {
        display: none;
    }
}

@media print {
    .ecran {
        display: none !important;
    }
}


.une_classe {
    padding: 5px;
    margin: 2px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

.classe_mev {
    border: 2px;
    padding: 4px;
    border-style: solid;
    background-color: lightGrey;
    font-weight: bold;
}

.un_prof {
    height: 40px;
}

#service_non_attribuees td {
    border: 2px solid black;
}

#service_non_attribuees .dropped_zone td{
    border: 2px dotted black;
}

.les_profs {
    border-spacing: 0px 10px;
}

.les_profs th, .les_profs td {
    margin: 2px;
    border: 2px solid black;
    border-width: 2px 1px;
}

.les_profs td {
    padding: 2px;
}

.les_profs .une_classe {
    display: inline-block;
}

.dropped_zone {
    background-color: lightBlue;
    border: 2px dotted black;
}

.dropped_zone th, .dropped_zone td {
    border: 2px dotted black;
}

.droppable_zone {
    border: 2px solid black;
}

.draggable_obj {
    cursor: grab;
    transition: padding 0.15s linear;
}

td {
    vertical-align: bottom;
}

.draggable_dragover.vertical_list {
    transition: padding 0.15s linear;
    padding-top: 25px;
}

.draggable_dragover.horizontal_list {
    transition: padding 0.15s linear;
    padding-left: 25px;
}

.dragged_obj {
    border-style: dashed;
    cursor: grabbing;
    background-color: lightBlue;
}

.pref_div {
    display: flex;
    flex-directin: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    height: inherit;
}

.pref_zone {
    height: 90%;
    min-width: 120px;
    overflow: auto;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.peu_heure {
    background-color: #ffbfc4;
}

.bonne_heure {
    background-color: #d5ffbf;
}

.trop_heure {
}

.passive_tab {
    display: none;
}

.en_ligne_contener {
    display: flex;
}

#service_classe_non_attribuees {
    margin-right: 50px;
}

.en_ligne_item {
    margin: 2px;
}

#prof_liste_profs th, #prof_liste_profs td {
    padding: 10px;
    border-bottom: 2px solid black;
}

.les_classes td {
    padding: 10px 1px;
}

.en_haut {
    margin-bottom: 5px;
}

.a_droite {
    margin-left: 70px;
}

.a_droite_petit {
    padding-left: 20px;
}

#service_profs th {
    font-size: larger;
}

.taille_mini {
    height: 50px;
}

.taille_mini td {
    width: 80px;
    white-space: nowrap;
}

#preference_prof, #charge_json, #sauve_json, #confirme_remove, #show_conflicts {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#pref_prof_content, #charge_json_content, #sauve_json_content, #confirme_remove_content, #show_conflicts_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5px 20px 15px;
}

#pref_prof_content, #charge_json_content, #sauve_json_content, #confirme_remove_content, #show_conflicts_content {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#pref_prof_content > *, #charge_json_content > *, #sauve_json_content > *, #confirme_remove_content > *, #show_conflicts_content > * {
    margin: 10px 20px;
}

#pref_prof_content > div:first-child, #charge_json_content div:first-child, #sauve_json_content div:first-child, #confirme_remove_content div:first-child, #show_conflicts_content div:first-child {
    margin: 0px 0px 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#pref_prof_content > div:first-child {
    background-color: #4FDEFF;
}

#pref_prof_content > div:last-child {
    text-align: right;
}

#charge_json_content div:first-child {
    background-color: #FFD34F;
}

#sauve_json_content div:first-child {
    background-color: #A7FF4F;
}

#confirme_remove_content div:first-child {
    background-color: #FC7A7A;
    color: white;
}

#show_conflicts_content div:first-child {
    background-color: #FF8080;
}

#sauve_json_name {
    width: max-content;
    margin-left: 40px;
    margin-top: 0px;
}

.active_but {
    background-color: white;
    border-color: black black white;
    font-weight: bold;
    color: black;

}

.passive_but {
    border-color: black;
    color: midnightblue;
}

.passive_but, .active_but {
    border-style: solid;
    border-radius: 7px 7px 0px 0px;
    padding: 7px;
}

#pref_prof_pref {
    height: 470px;
    width: 700px
}

@media screen {
    body {
        background-color: lightgray;
    }
    
    .onglet {
        margin-top: -2px;
        margin-bottom: 20px;
        padding: 2px;
        background: white;
        border-width: 2px;
        border-style: solid;
    }
}

.nombre {
    width: 75px;
}

#show_hide_info {
    border-radius: 5px;
    background-color: #DEDEDE;
    border-color: #959595;
    padding: 3px 20px;

}

.enfonce {
    background-color: #959595 !important;
    border-color: #DEDEDE !important;
}

footer {
    text-align: center;
}

#conflicts_table, #conflicts_table th,#conflicts_table td {
    border: 1px solid black;
    border-collapse: collapse;
}

#conflicts_table th,#conflicts_table td {
    text-align: center;
    vertical-align: middle;
}

.prb_regle {
    text-decoration-line: line-through;
    color: gray;
}

